# This is a sample environment file for the project.
# Copy this file to .env
# All current environment variables are listed here with their default values.
# Uncomment and change the values to override the default values.

#==================
# NODE
#==================
# Node environment
# Available values: development, production
NODE_ENV=
SERVER_URL=
PORT=


#==================
# DATABASE
#==================
# Database connect url for prisma
# This default value is for sqlite
# For other databases, please refer to https://www.prisma.io/docs/reference/database-reference/connection-urls
# This environment variable is REQUIRED for prisma to work
DATABASE_URL=

#==================
# Storage
#==================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=  
AWS_BUCKET_NAME=    
AWS_BUCKET_PRIVATE_NAME=
STORAGE_URL=
STORAGE_BASE_PATH=
ENDPOINT_STORAGE=


#==================
# Redis
#==================
REDIS_URL=


#==================
# JWT
#==================
JWT_SECRET_KEY=


